// Colors
$prim-clr: #ce2e6c;
$sec-clr: #1f9bf0;
$third-clr: #ce2e6c;
$border-clr: #eff3f4;

$clr1: #fff;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;

$main-font: ariel;
$second-font: ariel;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;